p {font-family: 'Comic Relief','Playfair Display'}
h1 {font-family: 'BBH Bartle'}
b {font-family: 'Comic Relief'}

.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
